[Unit]
Description=Frameworks {{ go_service_name }}
After=network-online.target
Wants=network-online.target

[Service]
User={{ go_service_user }}
Group={{ go_service_group }}
WorkingDirectory={{ go_service_install_dir }}
EnvironmentFile={{ go_service_env_file }}
ExecStart={{ go_service_install_dir }}/{{ go_service_name }}{% for arg in go_service_args %} {{ arg | quote }}{% endfor %}
Restart=always
RestartSec=5
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
