.git
.gitmodules
.gitignore
node_modules
**/node_modules
logs
**/logs
tmp
dist
**/dist
**/build
**/.svelte-kit
.env
**/.env
npm-debug.log*
yarn-error.log*

# Mac System Files
.DS_Store
**/.DS_Store

# Go Build Artifacts
.gocache
**/.gocache
coverage.out
**/coverage.out
test-results
**/test-results