services:
  {{ compose_stack_name }}:
    image: {{ compose_stack_service.image }}
    container_name: frameworks-{{ compose_stack_name }}
    restart: always
{% if compose_stack_service.port | default(0) | int > 0 %}
{% set container_port = compose_stack_service.container_port | default(compose_stack_service.port) %}
    ports:
      - "{{ compose_stack_service.port }}:{{ container_port }}"
{% endif %}
    networks:
      - frameworks
networks:
  frameworks:
    driver: bridge
