[Unit]
Description=YugabyteDB TServer
After=network-online.target {{ yugabyte_master_service }}.service
Wants=network-online.target

[Service]
User={{ yugabyte_user }}
Group={{ yugabyte_group }}
ExecStart={{ yugabyte_bin_dir }}/yb-tserver --flagfile {{ yugabyte_tserver_conf_path }}
Restart=always
RestartSec=5
LimitNOFILE={{ yugabyte_limit_nofile }}
LimitNPROC={{ yugabyte_limit_nproc }}
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
