{
  admin {{CADDY_ADMIN_ADDR}}
  servers {
    protocols h1 h2 h3
  }
}

:443 {
  tls internal

  handle_path /webhooks/* {
    reverse_proxy {{HELMSMAN_UPSTREAM}}
  }

  respond "Node bootstrapping - awaiting activation" 503
}

:80 {
  respond "Node bootstrapping" 503
}
