{# MirrorMaker2 dedicated worker config. The worker drives only flows into
   kafka_mm_target (see --clusters in the systemd unit). Java properties
   parsing consumes backslashes, so regex backslashes are doubled. #}
{% set target_rf = kafka_mm_target.replicas | default(1) %}
clusters = {{ kafka_mm_target.alias }}{% for src in kafka_mm_sources %},{{ src.alias }}{% endfor %}

rest.port = {{ kafka_mm_rest_port }}

{{ kafka_mm_target.alias }}.bootstrap.servers = {{ kafka_mm_target.bootstrap_servers }}
{% for src in kafka_mm_sources %}
{{ src.alias }}.bootstrap.servers = {{ src.bootstrap_servers }}
{% endfor %}

{% for src in kafka_mm_sources %}
{% set source_rf = src.replicas | default(1) %}
{% set flow = src.alias ~ '->' ~ kafka_mm_target.alias %}
{{ flow }}.enabled = true
{{ flow }}.topics = {{ src.topics }}
{% if kafka_mm_exclude_pattern | length > 0 %}
{{ flow }}.topics.exclude = .*[\\-\\.]internal,.*\\.replica,__.*,{{ kafka_mm_exclude_pattern | replace('\\', '\\\\') }}
{% endif %}
{% if src.emit_checkpoints | default(true) %}
{{ flow }}.groups = .*
{% else %}
{{ flow }}.emit.checkpoints.enabled = false
{{ flow }}.sync.group.offsets.enabled = false
{% endif %}
{{ flow }}.replication.factor = {{ target_rf }}
{{ flow }}.checkpoints.topic.replication.factor = {{ target_rf }}
{{ flow }}.heartbeats.topic.replication.factor = {{ source_rf }}
{{ flow }}.offset-syncs.topic.replication.factor = {{ source_rf }}
{{ flow }}.tasks.max = {{ src.tasks_max | default(kafka_mm_task_count) }}
{{ flow }}.sync.topic.acls.enabled = false
{% endfor %}
offset.storage.replication.factor = {{ target_rf }}
status.storage.replication.factor = {{ target_rf }}
config.storage.replication.factor = {{ target_rf }}
