[Unit]
Description=FrameWorks Privateer
After=network-online.target
Wants=network-online.target

[Service]
User={{ privateer_user }}
Group={{ privateer_group }}
EnvironmentFile={{ privateer_conf_dir }}/privateer.env
ExecStart={{ privateer_bin }}
Restart=always
RestartSec=5
LimitNOFILE=1048576
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
