# Edge stack environment (managed by frameworks.infra.edge)
NODE_ID={{ edge_node_id }}
EDGE_PUBLIC_URL=https://{{ edge_domain }}/view
FOGHORN_CONTROL_ADDR={{ edge_foghorn_grpc_addr }}
{% if edge_ca_bundle_pem | length > 0 %}
GRPC_TLS_CA_PATH={{ edge_ca_path if edge_mode == 'native' else '/etc/frameworks/pki/ca.crt' }}
{% else %}
GRPC_TLS_CA_PATH=
{% endif %}
EDGE_ENROLLMENT_TOKEN={{ edge_enrollment_token }}
EDGE_DOMAIN={{ edge_domain }}
ACME_EMAIL={{ edge_acme_email | default('', true) }}
DEPLOY_MODE={{ edge_mode }}
