# Edge stack environment (managed by frameworks.infra.edge)
NODE_ID={{ edge_node_id }}
CLUSTER_ID={{ edge_cluster_id }}
EDGE_PUBLIC_URL=https://{{ edge_domain }}/view
FOGHORN_CONTROL_ADDR={{ edge_foghorn_grpc_addr }}
{% if edge_ca_bundle_pem | length > 0 %}
GRPC_TLS_CA_PATH={{ edge_ca_path if edge_mode == 'native' else '/etc/frameworks/pki/ca.crt' }}
{% else %}
GRPC_TLS_CA_PATH=
{% endif %}
EDGE_ENROLLMENT_TOKEN={{ edge_enrollment_token }}
EDGE_DOMAIN={{ edge_domain }}
ACME_EMAIL={{ edge_acme_email | default('', true) }}
DEPLOY_MODE={{ edge_mode }}
CADDY_CONFIG_PATH=/etc/caddy/Caddyfile
HELMSMAN_VERSION={{ edge_helmsman_version }}
MISTSERVER_VERSION={{ edge_mistserver_version }}
CADDY_VERSION={{ edge_caddy_version }}
FRAMEWORKS_CONFIG_SCHEMA_VERSION={{ edge_config_schema_version }}
HELMSMAN_BW_LIMIT_BYTES_PER_SEC={{ edge_bandwidth_limit_bytes_per_sec }}
HELMSMAN_MAX_TRANSCODES={{ edge_max_transcodes }}
HELMSMAN_STORAGE_CAPACITY_BYTES={{ edge_storage_capacity_bytes }}
HELMSMAN_CAP_INGEST={{ edge_cap_ingest }}
HELMSMAN_CAP_EDGE={{ edge_cap_edge }}
HELMSMAN_CAP_STORAGE={{ edge_cap_storage }}
HELMSMAN_CAP_PROCESSING={{ edge_cap_processing }}
