bind {{ redis_bind_interface }}
port {{ redis_port }}
{% set redis_bind_addresses = redis_bind_interface.split() %}
{% set redis_loopback_only = (redis_bind_addresses | difference(['127.0.0.1', '::1', 'localhost'])) | length == 0 %}
protected-mode {{ 'yes' if (redis_password | length > 0) or redis_loopback_only else 'no' }}
supervised systemd
daemonize no
timeout 300

dir {{ redis_data_dir }}
dbfilename dump.rdb
appendonly {{ redis_appendonly }}
appendfsync everysec

loglevel notice
logfile {{ redis_log_file }}
pidfile /run/{{ redis_service_name }}/redis.pid
databases 16

maxmemory {{ redis_maxmemory }}
maxmemory-policy noeviction

{% if redis_password | length > 0 %}
requirepass {{ redis_password }}
{% endif %}
