# vmagent environment (managed by frameworks.infra.prometheus_stack)
VMAGENT_REMOTE_WRITE_URL={{ (vmagent_remote_write_url | string | replace('\r', '') | replace('\n', '\\n')) | quote }}
{% if vmagent_remote_write_basic_auth_username | length > 0 %}
VMAGENT_REMOTE_WRITE_BASIC_AUTH_USERNAME={{ (vmagent_remote_write_basic_auth_username | string | replace('\r', '') | replace('\n', '\\n')) | quote }}
VMAGENT_REMOTE_WRITE_BASIC_AUTH_PASSWORD={{ (vmagent_remote_write_basic_auth_password | string | replace('\r', '') | replace('\n', '\\n')) | quote }}
{% endif %}
