[Unit]
Description=VictoriaMetrics Agent
After=network-online.target
Wants=network-online.target

[Service]
User={{ prometheus_stack_user }}
Group={{ prometheus_stack_group }}
EnvironmentFile={{ vmagent_env_path }}
{% if vmagent_remote_write_basic_auth_username | length > 0 %}
ExecStart={{ vmagent_bin }} \
  -httpListenAddr=:{{ vmagent_port }} \
  -promscrape.config={{ vmagent_config_path }} \
  -remoteWrite.tmpDataPath={{ vmagent_tmp_data_path }} \
  -remoteWrite.url=${VMAGENT_REMOTE_WRITE_URL} \
  -remoteWrite.basicAuth.username=${VMAGENT_REMOTE_WRITE_BASIC_AUTH_USERNAME} \
  -remoteWrite.basicAuth.password=${VMAGENT_REMOTE_WRITE_BASIC_AUTH_PASSWORD}
{% else %}
ExecStart={{ vmagent_bin }} \
  -httpListenAddr=:{{ vmagent_port }} \
  -promscrape.config={{ vmagent_config_path }} \
  -remoteWrite.tmpDataPath={{ vmagent_tmp_data_path }} \
  -remoteWrite.url=${VMAGENT_REMOTE_WRITE_URL}
{% endif %}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
