[Unit]
Description=VictoriaMetrics Agent
After=network-online.target
Wants=network-online.target

[Service]
User={{ prometheus_stack_user }}
Group={{ prometheus_stack_group }}
ExecStart={{ vmagent_bin }} \
  -httpListenAddr=:{{ vmagent_port }} \
  -promscrape.config={{ vmagent_config_path }} \
  -remoteWrite.url={{ vmagent_remote_write_url }}{% if vmagent_remote_write_basic_auth_username | length > 0 %} \
  -remoteWrite.basicAuth.username={{ vmagent_remote_write_basic_auth_username }} \
  -remoteWrite.basicAuth.password={{ vmagent_remote_write_basic_auth_password }}{% endif %}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
